*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #f2f2f2;
}
header{
    background-color: #fff;
    margin: 0 20px 20px ;
    text-align: center;
    padding: 10px;
}
header h1 
{
font-family:Helvetica, Arial, sans-serif;
color:#1a71b8;
font-weight: 700;
font-size: 36px;
text-transform:capitalize;
}
article{
    background-color: #fff;
    width: 70%;
    margin: 10px auto;
}
.art_head{
    padding: 10px;
  
    border-bottom: 1px #f2f2f2 solid;
    font-family: Helvetica, Arial, sans-serif;
}
.art_head h2 {
    font-size: 27px;
}
.art_head small {
    font-family: Georgia, Times, serif;
    font-size: 13px;
    Color:#00cac1;
    font-weight: 400;


}

.art_body {
    padding: 30px;
    font-family: Georgia, Times, serif;
    font-size: 18px;
    border-bottom: 1px #f2f2f2 solid;
}

.art_foot {
     font-size: 10px;
     padding: 20px 30px ;
    font-family: Georgia, Times, serif;
     font-weight: 400;
     line-height: 1.8;

}
footer {
    text-align: center;
    font-family: Georgia, Times, serif;
    font-weight: 400;
    font-size: 16px;
Color :#b1c4df;
}
